{{left_sidebar_enabled,right_sidebar_enabled=False,True}}
{{load_graph=True}}
{{extend 'layout.html'}}

{{from arsfunctions import truncquest}}
{{if 'message' in globals():}}
<h1>{{=message}}</h1>
{{pass}}

<div class='MainDetails'>
{{if WEBSITE_PARAMETERS:}}
{{=MARKMIN(WEBSITE_PARAMETERS.longdesc)}}
{{pass}}
</div>

<h1>The Best</h1>

<div id="goodload">

{{#LOAD('default','questload.load',args=['default'],vars=dict(q='good', items_per_page=5,sortby='rating'),ajax=True,target="goodload")}}
        <script>
$( "#goodload" ).load("{{=URL('default', 'questload.load',args=['default'], vars=dict(q='good', items_per_page=5,sortby='rating'))}}","test", function() {
  $('#good').DataTable({dom: 'Bfrtip', responsive: true});} );
      </script>
</div>


<h1>The Worst</h1>
<div id="badload">

{{#LOAD('default','questload.load',args=['default'],vars=dict(items_per_page=5,sortby='Rating',no_page=False),ajax=True,target="questload")}}
        <script>
$( "#badload" ).load("{{=URL('default', 'questload.load',args=['default'], vars=dict(q='bad', items_per_page=5,sortby='revrating'))}}","test", function() {
  $('#bad').DataTable({dom: 'Bfrtip', responsive: true});} );
      </script>
</div>

<div id="questcountload">
{{#LOAD('default','questcountload.load',ajax=True,target="questcountload")}}

    </div>

<p>Please be aware this is a prototype system and it is being actively developed.  No guarantees are made surrounding it's ongoing availability in its present form.  Feedback and suggestions for improvement are however very welcome. <a href="mailto:newglobalstrategy@gmail.com?Subject=Suggestion">Please E-Mail Feedback</a></p>





