{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{extend 'layout.html'}}
{{from ndsfunctions import truncquest}}
<h1>My Ratings</h1>
{{=form}}
{{if activity:}}
<table id='TabAnswers' class='table issuetable2 table-bordered table-condensed'>
				<thead>
					<tr>
						<th width="10%">Date</th>
                        <th width="58%">Summary</th>
                        <th width="8%">My Rating</th>
                        <th width="8%">Avg Rating</th>
                        <th width="8%">My Impact</th>
                        <th width="8%">Avg Impact</th>
                    </tr>
                </thead>
                    <tbody>
{{for i,row in enumerate(activity):}}
{{if i==items_per_page: break}}
{{rowans=0}}
<tr>
<th><a href="{{=URL('viewquest','index',args=[row.activity.id])}}">{{=prettydate(row.user_rating.createdate)}}</a></th>
<td>{{=truncquest(row.activity.activity)}}</td>
<td>{{=row.user_rating.rating}}</td>
<td>{{=row.activity.rating}}</td>
<td>{{=row.user_rating.impact}}</td>
<td>{{=row.activity.impact}}</td>
</tr>
{{pass}}
 </tbody>
</table>
                        
{{if page:}}
<INPUT TYPE=BUTTON class="btn btn-primary btn-sm" onClick="parent.location='{{=URL(args=[page-1,q,s])}}'" VALUE="Previous">
{{pass}}

{{if len(activity)>items_per_page:}}
<INPUT TYPE=BUTTON class="btn btn-primary btn-sm" onClick="parent.location='{{=URL(args=[page+1,q,s])}}'" VALUE="Next">
{{pass}}

{{else:}}
<p>No questions for selected filters.</p>
{{pass}}

<script>
{{include 'review/newindex.js'}}
</script>