{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{load_dt_exp=True}}
{{extend 'layout.html'}}

    <link rel="stylesheet" href="{{=URL('static','css/jsgantt.css')}}"/>

{{=form}}

<div id="target"></div>

<div id="activity">

{{#LOAD('default','questload.load',args=['default'],vars=dict(items_per_page=5,sortby='Rating',no_page=False),ajax=True,target="questload")}}
        <script>
$( "#activity" ).load("{{=URL('default', 'questload.load', vars=dict(q='good', items_per_page=10, sortby='rating'))}}","test", function() {
  $('#good').DataTable({dom: 'Bfrtip', responsive: true});} );
      </script>
</div>

<script>
{{include 'review/newindex.js'}}
</script>



