{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{load_dt_exp=True}}
{{extend 'layout.html'}}

    <link rel="stylesheet" href="{{=URL('static','css/jsgantt.css')}}"/>

{{=form}}

<div id="target"></div>

{{if 'Question' in session.selection and 'Resolved' in session.selection:}}
<h1>Activities</h1>
<div id="questresolved">
    <script>
$( "#questresolved" ).load("{{=URL('default', 'questload.load', vars=dict(selection='QR',items_per_page=50,sortby='ResDate'))}}","test", function() {
  $('#QR').DataTable({dom: 'Bfrtip', buttons: ['copy', 'csv', 'excel', 'pdf', 'print'], responsive: true});} );
</script>
</div>
{{pass}}

<script>
{{include 'review/newindex.js'}}
</script>



