{{from ndspermt import make_button, get_actions, get_buttons}}
{{extend 'layout.html'}}
{{if activity=='deleted':}}
<h1>{{=item.capitalize()}} deleted</h1>

          {{else:}}
<h1>Activity submitted</h1>

<p>Thanks for submitting your activity report.
    {{if status!='Draft':}}It will now be visible for assessment.</p>
{{else:}}
<p>As this is a draft submission it will not be sent out for rating until you update via the my drafts menu and finalise and set the status to complete.  At that point the report can no longer be edited. </p>
{{pass}}

 <p>
 {{#get_buttons(quest['qtype'], quest['status'], quest['resolvemethod'], quest['id'], quest['auth_userid'], auth.user_id, False, 'Submit')}}
   </p>
          {{pass}}

