{{extend 'layout.html'}}
{{from ndsfunctions import getitem}}
{{from ndspermt import get_buttons}}
<h1>{{=T('Search')}}</h1>

{{=form}}


    <div id="ajaxlink"></div>
    
{{if results:}}
<h2>{{=T('Search results')}}</h2>
      <table id='TabSearch'  width="100%" class="table table-bordered table-condensed">
        {{if count>0:}}
        <thead>
        <tr>
            <th width="5%">{{=T('Activity')}}</th>
            <th width="45%">{{=T('Details')}}</th>
            <th class="min-tablet-l" width="10%">{{=T('Date')}}</th>
            <th class="min-tablet-l" width="12%">{{=T('Category')}}</th>
            <th class="min-tablet-l" width="5%">{{=T('Priority')}}</th>
        </tr>
        </thead>
        {{pass}}
        {{if count>0:}}
        {{for row in results:}}
    	<tr>
            <td><a href="{{=URL('viewquest','index',args=[row.id])}}">{{=getitem(row.activity)}}</a></td>
        	<td>{{=MARKMIN(row.details)}}{{#get_buttons(row.qtype, row.status, row.resolvemethod, row.id, row.auth_userid, auth.user_id, False, 'search')}}</td>
            <td>{{=prettydate(row.createdate)}}</td>
            <td>{{=row.category}}</td>
            <td>{{#row.priority}}</td>
        </tr>
        {{pass}}
        {{else:}}
        <tr>
            <td>{{=T('There are no topics found in this search.')}}</td>
        </tr>
        {{pass}}
    </table>
        {{pass}}

