{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{extend 'layout.html'}}
<h1>Future Enhancements</h1>

<p>Details on possible future enhancements will be posted here.  At present we are rather under-resourced to make this a truely global platform
    so this is currnelty more of a hopefully thought provoking demo of what might be possible.  Current standards of behaviour overall do not appear
    to be good enough to achieve the sort of world that most people would prefer to live in. </p>

<p>We don't think people go out intentionally to make living a miserable experience for many - however we think this is the outome for many and it
would only take a few relatively minor changes, combined with genuine hope and cooperation on a global scale to create transformational change for
many.  We are determined to at least get the debate going and provide a platform to assess and hopefully develop clear evidence of what works and
the behaviours we need people to adopt to have a more successful planet.</p>
