{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{extend 'layout.html'}}

<h1  data-toggle =" popover" title ="Click on the question to see the answers" data-content="">Frequently Asked Questions</h1>

<p>This system is the product of a great deal of frustration and hard examination of the way the world currently works.
    The primary objectives are to try and identify those who are supporting progress and those that are hindering it.</p>


<div class="panel-group" id="accordion">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Why do we need this?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
    <div class="panel-body">
  <p>While social networking platforms are common we are not convinced they do a fantastic job of highlighting the good
  and bad behaviour going on in the world at present.  They are bascially social in purpose and not particulalry driven
  as platforms for progress.  They are also to some extent banal.  We have high expectations for medical progress in
  the years ahead, despite the severe structural problems that US healthcare currenlty has.  We also feels it's right
  that midwifes should get priority over murderers if a decision has to be made on who should be eligible to receive a
  donor organ.  And if that principal that behaviour should be a factor in healthcare entitlement is accepted then
  the question of how far we go down that route comes fully into play.  We feel this merits discussion but have no
  idea where society will draw that line.  However an activity recording system then becomes an essential tool to build
  up some sort of record of how people have behaved.  We appreciate there are all sorts of privacy protests that can be
  made about this sort of system.  However the fact is that we are all sharing a single planet and people behaving badly
  has significant impact on others and consequently it is very reasonable to identify when this is taking place.
  Highlighting bad behaviour should create a new incentive for the pepretrators to change.</p>
        </div>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         Is this important?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in">
      <div class="panel-body">
    <p> Potentially this is very important.  Extending life expectancy and better sharing of resources has the potential
        to change billions of lives for the better.
        There could be new obligations placed on those with power and wealth to participate and share in the fun,
        however they could be well rewarded for doing so and it should not require coercion to bring them on board.</p>
      </div>
    </div>
  </div>

<script type="text/javascript">
$(document).ready(function () {
$('.collapse').collapse();
$(" body").tooltip({selector: '[data-toggle = popover]'});
});
</script>
