{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{extend 'layout.html'}}

<h1>About Activity Recording System</h1>
<p>Inspired by the opportunities ahead and frustrated by the behaviours that hold us back.  This application will allow
    you to report and bear witness to any activity you are aware of taking place in the world.  You may have strong
    views on the merits or undesirability of these activities and you should explain why you have that opinion.
    Just please respect others opinions on the site as well.  We are looking to collate and highlight activities that
    apppear to either be hindering or aiding progress.  Hopefully highlight he best and the worst in each area will both
    encouraging and supporting the good to increase their impact and help ensure the bad are aware of the consensus
    and to encourage them to change their behaviour.</p>
<h2>Approach</h2>
    <p>The approach is based on an open crowdsourced platform where people can report activity they like or dislkie and
    others can review, discuss and rate the activity.  Users can select their scope and preferences by geography and
    category.  We have loosely folllowed the top 10 of the UN development goals in setting the categories.</p>

<p>At present the system supports the following items: </p>
<ol>
    <li>Activity Reporting</li>
    <li>Rating of reported activities</li>
    <li>Discussion</li>
</ol>

<p>While the system is primarily passive at present with a watching brief to complement networked decision making it may
not always stay that way.  If we achieve progress in life extending healthcare but lack the resources to deliver this to
all AND we have obtained global consensus that behaviour should be a factor in healthcare entitlement then conceivably a
future version of this system may bear witness to that behaviour and be used to determine entitlement to life extending
treatment.</p>

<h1>Privacy</h1>
<p>Personal privacy is important.  This system clearly has potential and definite intention to put a spotlight on
personal activities which could conflict with this.  We will provide facilities to allow people to challenge or
corroborate activities and will track the extent of corroboration or dispute attached to any report  We will also not
disclose the source of any reported activity without authorisation.</p>

<h1>Find Out More and Contribute to a Better World</h1>

<p>This is an open source software project and the source code and documentation on the project are freely available for
    use <a href="https://github.com/DonaldMcC/ars"> here. </a>
    Contributions, problems and suggestions for improvement are all welcome.</p>